@media print {

    /* ALL PAGES ----------------------------------------------------------------------- */

    @page {
        size: 260mm 370mm;
        /* size: 100mm 100mm; */
        margin-top: 20mm;
        margin-bottom: 40mm;


    }



    /* LEFT PAGES ---------------------------------------------------------------------- */

    @page :left {
        margin-left: 20mm;
        margin-right: 20mm;
        @top-center {
            content: "";
            background: white;
            z-index:1000;
        }
        @left-middle{
            content: "";
            background: white;
            z-index:1000;
        }
        /* page number */
        @top-left-corner {
            /* content: counter(page); */
            font-family: 'forje20';
            font-weight: 600;
            padding-right: 12mm;
            vertical-align: top;
            padding-top: 25px;
        }

         /* running header (book title)  */
        @top-left {
            content: element(booktitle);
            vertical-align: top;
            padding-top: 25px;
        }
    }

    /*  running header (book title)
        way 1 : keep HTML element and style inside the running header, remove the element from the flux  */
    #booktitle {
        /* position: running(booktitle); */
        font-family: 'hk-grotesk';
        font-weight: 600;
        text-indent: 0;
    }


    /* RIGHT PAGES --------------------------------------------------------------------- */

    @page :right {
        margin-left: 20mm;
        margin-right: 20mm;
        @top-center {
            content: "";
            background: white;
            z-index:1000;
        }
        @right-middle{
            content: "";
            background: white;
            z-index:1000;
        }


        /* page number */
        @bottom-right-corner {
            content: counter(page);
            font-family: 'forje7';
            vertical-align: top;
            font-weight: bold;
            font-style: italic;
            font-size: 14pt;
            margin-top:10mm;
            color: var(--maincolor);
        }

        /* running header (chapter title)  */
        @bottom {
            content: string(chapTitle);
            vertical-align: top;
            font-family: 'syne';
            font-style: italic;
            font-size: 10pt;
            margin-top: 10mm;
            margin-left: 1.7mm;
            color: white;
            text-align: left;
            text-shadow: -1px 0 var(--maincolor), 0 1px var(--maincolor),
            1px 0 var(--maincolor), 0 -1px var(--maincolor)
        }
        @bottom-left{
          content: "CodeX2 / 3615 LOVE";
          vertical-align: top;
          font-family: 'forje4';
          font-size: 10pt;
          margin-top: 10mm;
          color: var(--maincolor);
        }
    }
    @page :first {
      @bottom-right-corner{
        content: "";
       }
    }
    /*  running header (book title)
        way 2 : copy an HTML element into running header, don't keep HTML and style  */
    h1 { string-set: chapTitle content(text); }


    /* PAGE BREAKS --------------------------------------------------------------------- */

    #halftitle,
    #toc,
    #prefatory-note,
    #introduction,
    #toc {
        break-before: right;
    }

    .chapter {
        break-before: right;
    }

    figure {
        break-inside: avoid;
    }


    /* BLANK PAGES --------------------------------------------------------------------- */

    @page :blank {

        @top-left-corner { content: none; }
        @top-left { content: none; }
        @top-right-corner { content: none; }
        @top-right { content: none; }

    }


    /* NAMED PAGE (chapter) ------------------------------------------------------------ */

    .chapter { page: chapter; }

    @page chapter :first {
        @top-right { content: none; }
    }


    /* WIDOWS AND ORPHANS -------------------------------------------------------------- */

    /*
    - Not specific to paged.js
    - Support only on Chrome/Chromium
    */
    #introduction p, .chapter p {
        widows: 3;
        orphans: 3;
    }


    /* HYPHENS ------------------------------------------------------------------------- */

     /*
    - Not specific to paged.js
    - Support only on Chrome/Chromium with OSX and on Firefox with Linux
    */
    p{
        hyphens: auto;
    }


     /* select the last page of the document  */
     .pagedjs_page:last-of-type{ }



}
