/* GALLERY ---------------------------------------------------------------------- */
/* layout -------------------------------------------------------------------------- */
.wrap{
    display: inline-block;
    width: 30%;
    position: relative;
    border: 10px solid white;
    height: auto;
    margin: 15px 15px 15px 15px;
}
.wrap::after{
    content:attr(data-after);
    position:absolute;
    bottom: -1em;
    left: 0;
    color: black;

}

.wrap img{
    width: 100%;
}

.glleft{
    position: absolute;
    top:0;
    left: 0;
    width: 200%;
    padding-right: 100%;
    height: 100%;
    background: var(--maincolor);

}
.glright{
    position: absolute;
    top:0;
    right: 0;
    width: 200%;
    padding-left: 100%;
    height: 100%;
    background: var(--maincolor);

}

/* gallery one -----------------------*/
.g1 .wrap:nth-of-type(1){


}
.g1 .wrap:nth-of-type(2){
    width: 60% !important;
}
.g1 .wrap:nth-of-type(3){
    margin-left: 35%;
    margin-right: 40%;
}
.g1 .wrap:nth-of-type(4){

}
.g1 .wrap:nth-of-type(5){

}
.g1 .wrap:nth-of-type(6){

}
/*-------------------------------------*/


/* page left */
/* .glleft .wrap:nth-of-type(1){
    top: 10px;
    left: 10px;
}
.glleft .wrap:nth-of-type(2){
    top: 10px;
    left: 400px;
}

.glleft .wrap:nth-of-type(3){
    top: 250px;
    left: 10px;
}

.glleft .wrap:nth-of-type(4){
    top: 250px;
    left: 90px;
}
.glleft .wrap:nth-of-type(5){
    top: 100px;
    left: 90px;
}
.glleft .wrap:nth-of-type(6){
    top: 100px;
    left: 90px;
}
.glleft .wrap:nth-of-type(7){
    top: 100px;
    left: 90px;
}
.glleft .wrap:nth-of-type(8){
    top: 100px;
    left: 90px;
}
.glleft .wrap:nth-of-type(9){
    top: 100px;
    left: 90px;
}

.glleft .wrap:nth-of-type(10){
    top: 100px;
    left: 90px;
}

/* page right */
/* .glright .wrap:nth-of-type(1){
    top: 10px;
    right: 400px;
}
.glright .wrap:nth-of-type(2){
    top: 900px;
    right: 300px;
} */

/*the one in the middle*/
/* .glright .wrap:nth-of-type(3){
    top: 570px;
    right: 670px;
}

.glright .wrap:nth-of-type(4){
    top: 100px;
    right: 90px;
} */
